<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
        <link rel ="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <p>You jumped in the car, and you realize it is your best friend
    who was driving in her new car. She ask where do you want to go. What do you chose</p>
      <ul>
        <li> <a href="/rideAlong"> Go for a ride along </a> </li>
        <li> <a href="/Home"> Go home </a> </li>
        <li> <a href="/Mall"> Go to the mall </a> </li>
        <li> <a href="/Get Out"> Get out </a> <li>

  </body>
</html>
